@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

/* Navbar */

.nav-text {
    text-transform: uppercase;
}

/* Home Section (index.html) */

#metallicalogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    width: 60%;
}

#metallica-band {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 15px;
    width: 60%;
    border: 1px solid white;
    border-radius: 15px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    border: 2px solid white;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-title {
    text-align: center;
    padding-bottom: 10px;
}

p, h1, h2 {
    display: block;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/* Events Page */

.table-text {
    font-size: 15px;
}

/* For Desktop */
@media screen and (min-width: 890px) {
    #metallica-events {
        width: 100%;
        height: 20rem;
    }

    #metallica-events-mobile {
        display: none;
    }
}

/* For Mobile */
@media screen and (max-width: 890px) {
    #metallica-events {
        display: none;
    }

    #metallica-events-mobile {
        width: 100%;
        height: 20rem;
    }
}



.events-h1 {
    margin-bottom: 2%;
}

/* Gallery */

.gallery-images {
    margin-top: 8px;
}

.photos {
    margin-top: 8px;
    border-radius: 15px;
    border: 2px solid white;
}

/* Contact Us Page */

#contact-details {
    text-align: center;
}

.contact-element {
    display: inline-block;
    margin: 1%;
    padding: 3%;
    vertical-align: top;
}

.address-wrap {
    width: 14rem;
}

.word-wrap {
    word-wrap: break-word;
}

#contact-details i {
    font-size: 200%;
    color: #3a3a3a
}

.contact-form {
    color: #fff;
    background-color: #4f4f4f;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1.5%;
}

.contact-form h2 {
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text-input {
    color: black;
    width: 100%;
    height: 35px;
    font-size: 13px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: black;
}

.submit-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: #fff;
    border: 1px white solid;
    display: inline-block;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #fff;
    color: black;
}

.form-layout {
    text-align: center;
}

.form-inline {
    display: inline-block;
    vertical-align: bottom;
}



/* Footer */

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: auto;
    display: block;
    padding-top: 10px;
}

.footer-icon {
    font-size: 50px;
    color: white;
    padding-right: 10px;
}